* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: rgb(52, 49, 49);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

h1 {
    color: lightseagreen;
    font-weight: bold;
    border: #0b0101 3px solid floralwhite;
    background-color: transparent;
}

.nav ul {
    font-size: large 22px;
    font-weight: bold;
    display: flex;
}

.nav ul li {
    padding: 15px;
    list-style: none;
}

.nav ul li a {
    color: rgb(237, 230, 230);
    list-style: none;
    text-decoration: none;
    line-height: 20px;
    border: 30px;
}

a:hover {
    color: black;
    border: 0 45px;
    
    background-color: aliceblue;
}

#main {
    justify-content: center;
    background:
        linear-gradient(#392e2e, #220425);
    color: white;
    background-color: transparent;
    font-size: x-large;
    border: 2px solid;
    display: flex;
    height: 500px;
    
}
p{
    border: #f4f2f2 3px solid;
    background-color: #0b0101;
    background-origin:  2px;
    background-color: transparent;
    border-radius: 5px;
}
.image {
    width: 20%;
    margin: 50px;
    padding-top: 25px;
}

img {
    justify-content: center;
    height: 200px;
    border-radius: 100%;
    margin: 30px;
}

span {
    color: coral;
    line-height: 100% ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.middle {
    padding-top: 200px;
}
.Portifolio{
    background-color: rgb(248, 250, 252);
    height: 300px;
    width: 100%;
}
footer {
    background-color: #0b0101;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    sty
}